* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../Images/background-geral.jpg);
    background-size: cover;
    height: 100vh;
}
.nav-icon-narguile {
    width: 40px;
}

.nav-icon {
    width: 28px;
}

.header {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(77, 77, 77);
}

.textLogo {
    color: white;
    font-family: 'DynaPuff', cursive;
}

.leftNavBar {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-left: 5px;
}

.navBtn {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: bold;

}

.navBtn:hover {
    color: black;
    transition: 0.4s;
}

.rightNavBar {
    display: flex;
    gap: 10px;
    padding-right: 10px;
}
.footer {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(77, 77, 77);
}

.btnFooter {
    padding-right: 10px;
    display: flex;
    gap: 10px;
}

.backToTop {
    text-decoration: none;
    color: white;
    font-size: 16px;
    border: white solid 2px;
    border-radius: 10px;
    padding: 5px;
}
.btnBackToTop{
    padding-left: 10px;
}
.dropdown{
    position: relative;
    display: inline-block;
    padding-top: 10px;
    
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(77, 77, 77);
    border-radius: 8px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
.dropdown-content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: black;
    border-radius: 8px;
}
.dropdown:hover .dropdown-content {
    display: block;
}